body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-image: url(../Assets/office-stock-image.jpg);
  font-family: "Roboto", sans-serif;
}

textarea {
  background: #001f3f;
  border: none;
  resize: none;
  color: #ffffff;
  border: 1px solid #001f3f;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
  border-top: 1px solid #d3d3d3;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #d3d3d3;
  font-weight: bold;
  padding: 10px;
}

.past {
  background-color: #e0e0e0;
  color: #808080;
}

.present {
  background-color: #ff6961;
  color: #ffffff;
}

.future {
  background-color: #77dd77;
  color: #ffffff;
}

.saveBtn {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#nextPlanHeading {
  color: #001f3f;
}

#currentDay {
  text-align: center;
}
